<div class="container mt-4">

  <!-- BUSCADOR -->
  <div class="mb-3">
    <input [(ngModel)]="username" class="form-control" placeholder="Buscar username">
    <button class="btn btn-primary mt-2" (click)="searchUser()">Buscar</button>
  </div>

  <!-- ERROR -->
  <div *ngIf="error" class="alert alert-danger">
    Usuario no existe
  </div>

  <!-- USER -->
  <app-users *ngIf="user" [user]="user"></app-users>

  <!-- POSTS -->
  <app-posts *ngIf="posts.length > 0" [posts]="posts"></app-posts>

</div>